.soldier
{
	width: 130px;
	height: 80px;
	
}
.btnchar{
	border: solid 5px green;
}

body{
background-image:url("../images/bg.jpg");
background-repeat: no-repeat;
background-size:100%;
color:white;
}

#attack{
	color:black;
}
h5{
	color:black;
}
.enemy {
	border: solid 5px red;
}